<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if errors.any? %>
  <div id="error" class="alert alert-danger alert-dismissible">

    <button class="close" data-dismiss="alert" aria-label="Close">
      <span id="cross" aria-hidden="true">&times;</span>
    </button>

    <div class="lead buffer-bottom">
      В вашей форме <%= errors.count %> <%= sklonenie(errors.count, 'ошибка', 'ошибки', 'ошибок') %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>    
  </div>

  <script>
    $(fucntion(){
        $('#cross').click(function(){
           $('#error').hide();
        });
     })
  </script>
<% end %>