<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if errors.any? %>
  <div id="error" class="alert alert-danger alert-dismissible">

    <div class="close" data-dismiss="alert" aria-label="Close">
      <span id="cross" aria-hidden="true">&times;</span>
    </div>

    <div class="lead buffer-bottom">
      В вашей форме <%= errors.count %> <%= I18n.t :error, count: errors.count %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>  
  </div>
<% end %>
