<%# Паршал для вывода отдельной фотографии %>
<%# class: glyphicon glyphicon-trash%>

 <div class="event-photo buffer-both">
     <% image_user = "Добавил #{render partial: 'users/user', object: photo.user} #{draw_delete_photo_basket?(@event, photo)}" %>   
     <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, class: "col-sm-2 buffer-right-left buffer-top",
     data: { title: image_user,
            toggle: "lightbox",
            gallery: "img-gallery" } %>       
 </div>


